@charset "UTF-8";

/* Telas menores que 768px */
@media screen and (max-width: 768px) {
    span#burguer {
        display: block;
        /* margin-left: 3rem */
    }

    menu {
        position: absolute;
        top: 76px;
        left: 0;
        width: 100%;
        justify-content: center;
        background-color: rgb(141, 195, 233);
        padding: 1rem 0 ;
    }

    main > article {
        margin-top: 5rem;
    }
}